.sidebar_container {
	background-color: rgb(166, 159, 159);
	width: 200px;
	height: 100vh;
	position: relative;
	overflow-y: auto;

	&.collapsed {
		width: 80px;

		.sidebar_toggle {
			align-items: center;
		}
	}
}

.button_group {
	& > button {
		text-decoration: none;
		border: none;
		background: none;
		cursor: pointer;
	}
}
